:root {
  --light-grey: #eee;
  --grey: #999;
  --dark-grey: #333;
  --black-border: #111;
  --black-text: #111;
  --accent: #008cff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  display: flex;
  height: 100vh;
  background-color: var(--light-grey);
}

a {
  text-decoration: none;
  color: var(--black-text);
}

p {
  color: var(--grey);
}

.sidebar {
  flex: 1;
  background: var(--dark-grey);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & a {
    color: var(--light-grey);
    font-weight: 500;
  }

  & .side__nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: all 0.3s ease-in-out;

    & .item {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 8px 12px;
      border-radius: 24px;
      cursor: pointer;
      font-weight: bold;

      & a {
        color: var(--grey);
        transition: all 0.3s ease-in-out;
      }

      & i {
        color: var(--grey);
        transition: all 0.3s ease-in-out;
      }
    }

    & .active {
      background-color: var(--light-grey);

      & a,
      i {
        color: var(--black-text);
        font-weight: bold;
      }
    }
  }

  & .sidenav__profile {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    border-radius: 24px;
  }

  & .skills__tags {
    margin: 8px;
  }

  & .profile__view {
    margin-top: 12px;
    width: 160px;

    .profile__view__button {
      cursor: pointer;
      padding: 8px 12px;
      border: 2px solid rgba(0, 0, 0, 0);
      border-radius: 24px;
      color: var(--dark-grey);
      z-index: 1;
      background: var(--light-grey);
      position: relative;
      font-size: 14px;
      font-weight: bold;
      font-family: 'Inter', sans-serif;
      transition: all 250ms;
      overflow: hidden;
      width: 100%;
    }

    .profile__view__button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 24px;
      background-color: var(--dark-grey);
      z-index: -1;
      transition: all 250ms;
    }

    .profile__view__button:hover {
      color: var(--light-grey);
    }

    .profile__view__button:hover::before {
      width: 100%;
    }
  }

  & .profile__name {
    font-weight: bold;
    font-size: 16px;
  }

  & img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    margin-bottom: 16px;
  }
}

.container {
  flex: 8;
  padding: 20px;
  width: 100%;

  & .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;

    & .search__button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 4px;
      cursor: pointer;
      padding: 8px 12px;
      border: 2px solid var(--grey);
      border-radius: 24px;
      color: var(--black-text);
      z-index: 1;
      background: var(--light-grey);
      position: relative;
      font-size: 14px;
      font-weight: bold;
      font-family: 'Inter', sans-serif;
      transition: all 250ms;
      overflow: hidden;
      width: 236px;
    }

    & .bx-search {
      font-size: 20px;
      font-weight: bold;
    }

    & .search__button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 24px;
      background-color: var(--dark-grey);
      z-index: -1;
      transition: all 250ms;
    }

    & .search__button:hover {
      color: var(--light-grey);
      border: 2px solid white;
    }

    & .search__button:hover::before {
      width: 100%;
    }

    & #menuToggle {
      display: none;
      cursor: pointer;
      border: 2px solid transparent;
      align-items: center;
      padding: 8px 12px;

      & .bx-menu-alt-left {
        font-size: 24px;
      }

      & .bx-chevron-right {
        font-size: 20px;
      }
    }

    & #menuToggle:hover {
      border: 2px solid var(--grey);
      border-radius: 24px;
    }
  }

  & .nav .search__all,
  .nav .search__local {
    display: flex;
    align-items: center;
    border-radius: 24px;
    color: var(--black-text);
    width: 100%;

    & i {
      padding: 8px 12px 8px 14px;
      background-color: var(--grey);
      border-radius: 24px 0 0 24px;
      color: var(--light-grey);
      font-size: 1.25rem;
    }

    & input {
      border: none;
      width: 100%;
      padding: 12px 12px;
      border-radius: 0 24px 24px 0;
    }
  }

  & .user__info {
    justify-content: start;
    display: flex;
    align-items: center;
    gap: 12px;

    & img {
      width: 42px;
      height: 42px;
      border-radius: 24px;
      cursor: pointer;
      object-fit: cover;
    }

    & a {
      font-weight: bold;
    }

    & p {
      font-size: 14px;
    }
  }

  & .bx-bell {
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 24px;
  }

  & .bx-bell:hover {
    border: 2px solid var(--grey);
  }

  & .main {
    margin: 20px 0;

    & .content {
      & .header {
        padding: 20px 0;
        margin-bottom: 16px;

        & p {
          color: var(--dark-grey);
          font-size: 14px;
        }

        & span {
          font-size: 14px;
          color: var(--grey);
        }
      }
    }

    & .job__cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;

      & .card {
        padding: 10px 20px 20px 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      & .job__info {
        & .bxl-go-lang {
          font-size: 48px;
          color: #00add8;
        }

        & .job__description {
          display: flex;
          flex-direction: column;
          gap: 8px;

          & {
            h5 {
              font-size: ;
            }

            .job__location {
              color: var(--dark-grey);
              font-size: 14px;
            }

            span {
              color: var(--grey);
            }

            p {
              color: var(--dark-grey);
            }
          }
        }
      }
      & .job__buttons {
        margin-top: 16px;
        display: flex;
        align-items: center;
        gap: 16px;

        & button {
          padding: 4px 8px;
          border: 2px solid var(--grey);
          border-radius: 24px;
          width: 84px;
        }

        & i {
          font-size: 20px;
          padding: 8px;
          cursor: pointer;
          border: 2px solid transparent;
          border-radius: 24px;
        }
      }
    }
  }
}

input {
  font-family: 'Inter', sans-serif;
}
