:root {
  --light-grey: #eee;
  --grey: #999;
  --black: #111;
  --accent: #00b7ff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  display: flex;
  height: 100vh;
  background-color: var(--light-grey);
}

a {
  text-decoration: none;
  color: #111;
}

p {
  color: var(--grey);
}

.sidebar {
  flex: 1;
  background: #111;
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & a {
    color: var(--light-grey);
    font-weight: 500;
  }

  & .side__nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: all 0.3s ease-in-out;

    & .item {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 8px 12px;
      border-radius: 24px;
      cursor: pointer;
      font-weight: bold;

      & a {
        color: var(--grey);
        transition: all 0.3s ease-in-out;
      }

      & i {
        color: var(--grey);
        transition: all 0.3s ease-in-out;
      }
    }

    & .active {
      background-color: var(--light-grey);

      & a,
      i {
        color: var(--black);
        font-weight: bold;
      }
    }
  }

  & .sidenav__profile {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    border: 2px solid var(--grey);
    padding: 1.25rem;
    border-radius: 24px;
  }

  & .profile__view {
    margin-top: 12px;
    width: 160px;

    .profile__view__button {
      cursor: pointer;
      padding: 8px 12px;
      border: 2px solid transparent;
      border-radius: 24px;
      color: var(--black);
      z-index: 1;
      background: var(--light-grey);
      position: relative;
      font-size: 14px;
      font-weight: bold;
      font-family: 'Inter', sans-serif;
      transition: all 250ms;
      overflow: hidden;
      width: 100%;
    }

    .profile__view__button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 24px;
      background-color: var(--black);
      z-index: -1;
      transition: all 250ms;
    }

    .profile__view__button:hover {
      color: var(--light-grey);
      border: 2px solid var(--light-grey);
    }

    .profile__view__button:hover::before {
      width: 100%;
    }
  }

  & .profile__name {
    font-weight: bold;
    font-size: 16px;
  }

  & img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    margin-bottom: 16px;
  }
}

.container {
  flex: 8;
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;

  & .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  & .nav .search__all,
  .nav .search__local {
    display: flex;
    align-items: center;
    background-color: var(--accent);
    border-radius: 24px;
    color: var(--black);
    width: 100%;

    & i {
      padding: 8px 12px;
      color: var(--light-grey);
      font-size: 1.25rem;
    }

    & input {
      border: none;
      width: 100%;
      padding: 12px 12px;
      border-radius: 0px 24px 24px 0px;
    }
  }
}

input {
  font-family: 'Inter', sans-serif;
}
